<app-header></app-header>
<div class="container">
    <div class="login-box">
        <h1>Nuevos Productos</h1>
        <form (ngSubmit)="onAddProduct()">
            <div class="textbox">
                <label for="nombre">Nombre</label>
                <input name="name" [(ngModel)]="newProduct.name" type="text" id="Name"
                    placeholder="Nombre del producto" required>
            </div>
            <div class="textbox">
                <label for="precio">Precio</label>
                <input name="price" [(ngModel)]="newProduct.price" type="text" id="Price"
                    placeholder="Precio del producto" required>
            </div>
            <div class="textbox">
                <label for="descripcion">Descripcion</label>
                <input name="description" [(ngModel)]="newProduct.description" type="text" id="Descripcion"
                    placeholder="Descripcion del producto" required>
            </div>
            <div class="textbox">
                <label for="Imagen">URL de la imagen</label>
                <input name="image" [(ngModel)]="newProduct.image" type="text" id="IMG"
                    placeholder="URL del producto" required>
            </div>
            <div class="textbox">
                <label for="Imagen">Categoria del producto</label>
                <input name="category" [(ngModel)]="newProduct.category" type="text" id="Categoria"
                    placeholder="Categoria del producto" required>
            </div>
            <button type="submit" class="btn">Agregar</button>
        </form>
    </div>
</div>